.display {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: -2vw;
    font-size: 4vw;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    height: 60px;
    width: 120px;
    font-family: sans-serif;
    font-size: 1.2rem;
}

