* { box-sizing: border-box; }
html,body { height:100%; margin:0; }
body{
    display:flex;
    align-items:center;
    justify-content:center;
    background:#222;
    font-family: Arial, sans-serif;
}
canvas{
    image-rendering: pixelated;
    border: 3px solid #111;
    background: #70c5ce;
}
